
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Trad:wght@100..400&display=swap');
.navBrand{
    font-family: "Playwrite FR Trad", cursive;
    font-weight: 800;
    font-size: 20px;
    font-style: normal;

}